<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/static/jquery-ztree/3.5.12/css/zTreeStyle/zTreeStyle.min.css" type="text/css">
    
    <script type="text/javascript" src="/static/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/static/jquery-ztree/3.5.12/js/jquery.ztree.core-3.5.min.js"></script>
</head>
<body>


<script type="text/javascript">


var setting = {  
        isSimpleData : true,              //数据是否采用简单 Array 格式，默认false  
        treeNodeKey : "id",               //在isSimpleData格式下，当前节点id属性  
        treeNodeParentKey : "pId",        //在isSimpleData格式下，当前节点的父节点id属性  
        showLine : true,                  //是否显示节点间的连线  
        checkable : true                  //每个节点上是否显示 CheckBox  
    };  
  
var treeNodes = [   
    {"id":1, "pId":0, "name":"test1"},   
    {"id":11, "pId":1, "name":"test11"},   
    {"id":12, "pId":1, "name":"test12"},   
    {"id":111, "pId":11, "name":"test111"},   
];

var zTree;
$(function() {  
    zTree = $("#tree").zTree(setting, treeNodes);  
 });  


</script>

<h1>hello!</h1>

<div id="tree" style="width:200px;height:500px"></div>

<p th:text="${context.get('foo')}"></p>
<p th:text="${context.get('bar')}"></p>
<p th:text="${context.normalisedPath()}"></p>
<p th:text="${context.request().params().get('param1')}"></p>
<p th:text="${context.request().params().get('param2')}"></p>

</body>

</html>